.feedback {
	background-image: url("../img/background.png");
	.wrapper {
		padding-bottom: 42px;
	}
	h2 {
		margin-bottom: 98px;
	}
	.posts__slider {
		width: 300%;
	}
	.post__slides {
		flex-direction: column;
		text-align: center;
		padding: 0 118px 0 0;
		.cell__header--name {
			margin-bottom: 15px;
		}
		.cell__header--descr {
			margin-bottom: 42px;
			a {
				color: $marker-clr;
			}
		}
		.cell-text {
			
			letter-spacing: 0.6px;
		}
}
	input[type=radio] {
		display: none;
	}
	.slider__control {
		border-bottom: none;
		margin-bottom: 1px;
		padding-bottom: 0;
		label {
			display: inline-block;
			width: 120px;
			height: 150px;
			background: url("../img/image-2.png") no-repeat center;
			cursor: pointer;
			position: relative;	
		}
	}
	
	
}







#slider21:checked ~ posts__slider > post__slides {
	transform: translateX(0);
}
#slider22:checked ~ .posts__slider > .post__slides {
	transform: translateX(-100%);
}
#slider23:checked ~ .posts__slider > .post__slides {
	transform: translateX(-200%);
}
#slider21:checked ~ .slider__control > label[for=slider21] {
	color: $marker-clr;
	background-image: url("../img/image-active.png");
	background-position: center;
	
}
#slider22:checked ~ .slider__control > label[for=slider22] {
	color: $marker-clr;
	background-image: url("../img/image-active.png");
	background-position: center;
}
#slider23:checked ~ .slider__control > label[for=slider23] {
	color: $marker-clr;
	background-image: url("../img/image-active.png");
	background-position: center;
}